<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="classes">
            <directory>test/classes</directory>
        </testsuite>
        <testsuite name="real">
            <directory>test/real</directory>
        </testsuite>
        <testsuite name="full">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
